@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background:   rgb(96, 196, 214) url(./bilder/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg);
    background-size: 1600px;
    background-attachment: fixed;
}
.kontainer {
    width: 500px;
    padding: 2em;
    margin: 3em auto;
    background: #fff;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ddd;
    box-shadow: 0 0 12px #f0e9d1;
}
.kontainer fieldset {
    border: 3px solid #1C1E1D;
    border-radius: 5px;
    padding: 0 0 10px 20px;
}
.kontainer legend, .kontainer select, .kontainer input {
    width: auto;
}