/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background: lightblue;
    text-align: center;
}

.wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.circle {
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
}

.circle:hover {
    background: salmon;
}