@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background: #F9F6EB;
}
.kontainer {
    width: 600px;
    padding: 2em;
    margin: 3em auto;
    background: #fff;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ddd;
    box-shadow: 0 0 12px #f0e9d1;
}
.kontainer #myCanvas {
    border: 1px solid;
}
.kol2 {
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}
.kol3 {
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
.kontainer label {
    text-align: right;
    align-self: center;
    font-size: 0.9em;
}
.kontainer input, .kontainer textarea {
    padding: 0.7em;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    font-weight: bold;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}
.kontainer textarea {
    height: 5em;
    width: 100%;
}
.kontainer button {
    margin: 1em 0;
    padding: 0.7em;
    border-radius: 0.3em;
    border: none;
    font-weight: bold;
    color: #FFF;
    background-color: #f08261;
    cursor: pointer;
}
.kontainer h1, .kontainer h2, .kontainer h3 {
    margin: 0.5em 0;
}
.kontainer p {
    background: #FFF;
    padding: 5px;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.kontainer .hogt {
    background: rgb(255, 190, 190);
}
.kontainer .lagt {
    background: rgb(218, 255, 162);
}
.kontainer .dum {
    background: rgb(216, 0, 0);
}
.kontainer .yipee {
    background: #283f82;
    color: #FFF;
    margin-top: 10px;
}
.kontainer .output {
    background: #FFF;
    padding: 5px;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
}
.kontainer img {
    width: 100%;
    background: #FFF;
    padding: 20px;
}

/* Mörkt läge */
.kontainer i.fa {
    cursor: pointer;
    display: block;
}
.kontainer .dold {
    display: none;
}
.kontainer .synlig {
    display: block;
}

.kontainer .gråskala {
    filter: grayscale(50%);
}
.kontainer .skuggor {
    filter: drop-shadow(16px 16px 20px red) invert(75%);
}
.kontainer .sepiat {
    filter: sepia(100%);
}