@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Utseende på sidan */
body {
 background: url(./bilder/pattern1.jpg);
}
.sida2 {
    background: url(./bilder/pattern2.png)
}
.sida3 {
    background: url(./bilder/pattern3.jpg)
}

/* Utseende på boxen */
div {
    width: 500px;
    padding: 20px;
    height: 400px;
    margin: 100px auto 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 50px #000;
    background: white;
    border-style: dashed;
    background: black;
    box-shadow: 10px 16px 20px  #D7B89B;
    
}
/* Utseende på innehållet */
h1 {
    margin-bottom: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: #D9CDC7;
}
p {
    margin-top: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    color: #D9CDC7;
}
a {
    color: #D9CDC7;
}