@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Utseende på sidan */
body {

}
.kontainer {
    font-family: 'Bowlby One SC', cursive;
    color: #682F1C;
}

/* Sidhuvudets utseende */
.kontainer .sidhuvud {
    display: grid;
    grid-template-columns: 25% 75%;
}
.kontainer .sidhuvud img {
    margin-left: 50px;
}
.kontainer .sidhuvud ul {
    margin-top: 25px;
    text-align: right;
    margin-right: 50px;
}
.kontainer .sidhuvud li {
    display: inline;
}
.kontainer .sidhuvud li a {
    color: #682F1C;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 15px;
}

/* Innehållets utseende */
.kontainer .rutnät {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}
.kontainer .rutnät .produkt {
}
.kontainer .rutnät .produkt h1 {
    
}
.kontainer .rutnät .produkt h2 {
    
}
.kontainer .rutnät .produkt img { 
}
.kontainer .rutnät .produkt p {
    
}

/* Bakgrundsfärger */
.kontainer .ljus {
    background: #FEF1E5;
}
.kontainer .mörk {
    background: #EFDAC5;
}