body {
    background: black;
}
table {
    font: 14px sans-serif;
    font-weight: bold;
    width: 1000px;
    background: white;
    border-collapse: collapse;
}
caption {
    background: #12326E;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}
thead {
    background: #12326E;
    color: white;
    text-transform: uppercase;
}
tr {

}
th {
    padding: 10px;
}
tbody {

}
td{
    text-align: center;
    padding: 5px;
}
img {
    width: 30px;
    height: 30px;
}
.ledare {
    background: #E73088;
    color: white;
}
.varannan {
    background: rgb(226, 226, 226);
}
.vänster {
    text-align: left;
}