@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: rgb(96, 196, 214);
}
.kontainer {
    width: 500px;
    padding: 2em;
    margin: 3em auto;
    background: #fff;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ddd;
    box-shadow: 0 0 12px #f0e9d1;
}
.kol2 {
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.kol2b {
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;
}