body {
    margin: 0;
    height: 100vh;
    font-size: 5em;
    font-family: 'Montserrat';
    font-weight: bold;
}

.sida {
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: middle;
    place-items: center;
    height: 100vh;
}

span {
    width: 110px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    border-radius: 50%;
}