@import url('https://fonts.googleapis.com/css?family=Patua+One|Righteous&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans färgpalett 
$color1: rgba(0, 0, 0, 1);
$color2: rgba(12, 24, 33, 1);
$color3: rgba(27, 42, 65, 1);
$color4: rgba(50, 74, 95, 1);
$color5: rgba(204, 201, 220, 1); */ 

/* Sidans Utseende */
body {
    background: rgba(12, 24, 33, 1);
}
.kontainer {
    font-family: 'Righteous', cursive;
    width: 900px;
    margin: 0 auto;
    padding: 50px;
    background: rgba(27, 42, 65, 1);
    color: rgb(204, 204, 204);
}
.kontainer h1 {
    font: 90px 'Patua One', cursive;
    text-align: center;
    color: #FCA311;
    text-shadow: 5px 5px 5px rgba(12, 24, 33, 1);
}

/* Menyns Utseende */
.kontainer .meny {
    text-align: center;
    margin: 10px 0 30px 0;
}
.kontainer .meny li {
    list-style-type: none;
    display: inline;
}
.kontainer .meny a {
    background: #FCA311;
    padding: 10px;
    color: rgba(12, 24, 33, 1);
    text-decoration: none;
    border-radius: 3px;
    margin: 0 3px;
    box-shadow: 4px 4px 0 rgba(12, 24, 33, 1);
    border-radius: 6px;
    width: 150px;
    display: inline-block;
    
}
.kontainer .meny a:hover {
    background: rgba(0, 0, 0, 1);
}
.kontainer .meny .aktiv {
    background: rgba(12, 24, 33, 1);
}

/* Innehållets utseende */
.kontainer h2 {
    text-shadow: 5px 5px 5px rgba(12, 24, 33, 1);
    font: 30px 'Patua One', cursive;
    color: #FCA311;
}
.kontainer h3 {
    text-shadow: 5px 5px 5px rgba(12, 24, 33, 1);
    font: 20px 'Patua One', cursive;
    color: rgb(255, 255, 255);
    
}
.kontainer figure {
}
.kontainer figure img {
    max-width: 60%;
    float: left;
    margin-left: 30px;
    padding: 20px;
    max-height: 200px;
}
.kontainer p {
    background: #FCA311;
    padding: 20px;
    width: 800px;
    color: rgba(12, 24, 33, 1);
}
.kontainer .kalla{
    font-style: italic;
    margin: auto 20px;
    padding: 50px;
}
.kontainer .kalla a{
    color: rgb(160, 160, 160);
    text-decoration: none;
    font-weight: bold;
    margin: auto 20px;
    padding: 50px;
}