/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: slategray;
}
canvas {
    width: 800px;
    height: 600px;
    border: 1px solid salmon;
    background: #FFF;
    display: block;
    margin: 10px auto;
}
.kol2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.kol3 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
button {
    font-size: 60px;
    cursor: pointer;
}