@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Styla kalendern */

body {
    background: url(./foton/jul.jpg);
}

/* Knep för att få Sidan i mitten av webbläsarfönstret */
html, body {
    height: 100%;
}
.mitten {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kontainer {
    background: rgb(97, 4, 4);
    width: 700px;
    font-family: 'Yellowtail', cursive;
    color: white;
    text-align: center;
}
h1 {
    font-size: 80px;
}
.kalender {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
    padding: 10px;
    justify-content: space-around;

}
.ruta {
    font-size: 30px;
    background: #B27C1A;
    width: 100px;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.ruta:hover {
    background: rgb(214, 151, 33) no-repeat center;
    box-shadow: 0 0 10px white;
}
.klapp1 {
    font-size: 0;
    background: url(./foton/Bronze-Box.gif);
    background-size: 80px 80px;
    animation: tona 5s;
    pointer-events: none;
    background-repeat: no-repeat;
}
.klappText1 {
    font: 12px sans-serif;
    padding: 10px;
    background: rgba(214, 151, 33, 0.616);
    animation: tona 5s;
    pointer-events: none;
}
.klapp3 {
    font-size: 0;
    background: url(./foton/Jultomten-2013-untitled.png);
    background-size: 80px 80px;
    animation: tona 5s;
    pointer-events: none;
    background-repeat: no-repeat;
}
@keyframes tona {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}