body {
    background: #b6b9c2 url("https://images.unsplash.com/photo-1562500652-dd7ae0d2870f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    font-family: sans-serif;
}
.kontainer {
    width: 600px;
    margin: 10px auto;
    padding: 30px;
    background-color: #000;
    color: #FFF;
    border-radius: 5px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
label {
    width: 250px;
    display: inline-block;
    margin: 10px 0;
    text-align: right;
}
#output {
    height: 250px;
    overflow: auto;
    background: #FFF;
    padding: 20px;
    border-radius: 3px;
    color: #000;
}
p#fel {
    background: #b83232;
}
span {
    font-weight: bold;
}